.movies_page_btn {
    align-items: center;
    border: 3px solid gold;
    border-radius: 10px;
    margin: 30px 0 10px 20px;
    padding: 5px 10px;
    width: 120px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.02em;
    cursor: pointer;
}

.movies_page_btn:hover {
    text-shadow: 0.2px 0.2px 0.2px;
    background-color: rgb(250, 234, 147);
    text-decoration: underline;
}

.movies_page_inp {
    border: 3px solid gold;
    border-radius: 8px;
    margin: 10px 0 10px 20px;
    padding: 6px 15px;
    width: 250px;
    margin-bottom: 20px;
}

.movies_page_inp:hover {
    box-shadow: 1px 2px 2px gold;
}