.movie_cast_list {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(4, 200px);
    margin-top: 20px;
    justify-content: center;
}

.movie_cast {
    margin-bottom: 24px;
}

.movie_cast_img {
    width: 160px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px;
}